<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Assignments</string>
	<key>Pages</key>
	<array>
		<string>Assignment1.playgroundpage</string>
		<string>Assignment2.playgroundpage</string>
		<string>Assignment3.playgroundpage</string>
		<string>Assignment4.playgroundpage</string>
		<string>Assignment5.playgroundpage</string>
		<string>Assignment6.playgroundpage</string>
		<string>Assignment7.playgroundpage</string>
		<string>Assignment8.playgroundpage</string>
	</array>
</dict>
</plist>
